.header-wrapper {
  width: 90%;
  background-image: linear-gradient(to bottom, #270331, #37044e, #38006d);
  flex-direction: column;
  padding: 1rem;
  border-radius: 0 0 0.8rem 0.8rem;
}

.header-wrapper img {
  width: 15%;
}
