<app-header />
<main>
  <ul id="users">
    <!-- track expression to avoid re-rendering (angular keeps track of changes) -->
    @for (user of users; track user.id) {
    <li>
      <app-user
        [user]="user"
        [selected]="user.id === selectedUser?.id"
        (select)="onSelectUser($event)"
      />
    </li>
    }
  </ul>

  @if (selectedUser) {
  <app-tasks [userId]="selectedUser.id" [name]="selectedUser.name" />
  } @else {
  <p id="feedback">Select a user to see their tasks</p>
  }
</main>
