a {
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.6rem 0.5rem;
  background-color: #38006d;
  color: #c3b3d1;
  border: none;
  cursor: pointer;
  width: 20rem;
  height: 5rem;
  min-width: 10rem;
  text-align: left;
}

a:hover,
a:active,
.active {
  background-color: #9130ec;
  color: #150722;
}

img {
  width: 4rem;
  object-fit: contain;
  border-radius: 50%;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
}

span {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-weight: normal;
}
