@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100%;
  font-family: "Noto Sans", serif;
  color: white;
  background-color: #1e1332;
}
.flex {
  display: flex;
}

.center {
  justify-content: center;
  align-items: center;
}

.w-100 {
  width: 100%;
}
